<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AmazingBattle</title>
    <link rel="stylesheet" type="text/css" href="assets/estilo.css">
  </head>
  <body>
    <h1>Tablero</h1>
    <div id="tablero">
      <form method="post" action="/juego">
      <% for i in 0..(@matriz.length-1) do %>
        <div class="row" id="row<%= @eje_y[i] %>">
          <% for j in 1..(@matriz[i].length) do %>
          <% clase = ''
            case @matriz[i][j]
              when 1 then clase = 'barco'
              when 2 then clase = 'hit'
              when 3 then clase = 'miss'
            end
           %>
          <div class="column <%= clase %>" id="aw<%= j %>"><%= @eje_y[i] %><%= j %>
            <button type="submit" value="<%= @eje_y[i] %><%= j %>" id="boton-<%= @eje_y[i] %><%= j %>" name="boton-<%= @eje_y[i] %><%= j %>"></button>
          </div>
          <% end %>
        </div>
      <% end %>
    </form>

  <!--
      <table border="1">
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>A1 B1</td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
      </table>-->


    </div>
  </body>
</html>
