<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AmazingBattle</title>
    <link rel="stylesheet" type="text/css" href="assets/estilo.css">
  </head>
  <body>
    <h1>Tablero</h1>
    <h2>Has seleccionado <%= @boton %></h2>
    <h3><%= @mensaje %></h3>
    <div id="tablero">
      <% for i in 0..(@matriz.length-1) do %>
        <div class="row" id="row<%= @eje_y[i] %>">
          <% for j in 0..(@matriz[i].length-1) do %>
          <% clase = ''
            case @matriz[i][j]
              when 1 then clase = 'barco'
              when 2 then clase = 'hit'
              when 3 then clase = 'miss'
            end
           %>
          <div class="column <%= clase %>" id="aw<%= j %>"><%= @eje_y[i] %><%= j+1 %>
            <form method="post" action="/juego">
              <input type="hidden" name="posicion" id="posicion" value="<%= i %><%= j %>">
              <input type="hidden" name="boton" id="boton" value="<%= @eje_y[i] %><%= j+1 %>">
              <button type="submit id="boton-<%= @eje_y[i] %><%= j+1 %>" name="boton-<%= @eje_y[i] %><%= j+1 %>"></button>
            </form>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
